body, html{
    margin: 0;
    padding:0;
    line-height: 0.5;
    background:black;
    font-family: sans-serif;
    height:646px;
}

.offcolured 
{
    width: 55px;
    height: 55px;
    padding-top: -1px;
    font-size: 20px;
    border: none;
    font-family: sans-serif;
    font-weight: 300;
    border:0px;
    border-radius: 30px;
    margin: 1.5px;
    transition:0.25px;
	background: #c4b98c;
}

.calci{
    width: 500px;
    padding-top: 100px;
    padding-bottom: 100px;
    position: absolute;
    top:50%;
    left:50%;
    transition:0.25px;
    transform: translate(-50%,-50%);
    text-align: center;
}
#zero{

height: 55px;
width: 116px;
font-size: 20px;
    font-family: sans-serif;
    font-weight: 300;

}

#display{
    all:unset;
    border:none;
    background: white;
    border-radius: 30px;
    width: 245px;
    font-size: 30px;
    font-family: sans-serif;
    font-weight: 300px;
    height: 60px;
    margin: auto;
    padding: 20px;
    border:2px solid white(5, 218, 255, 0.726);
    color: black;



}
.button{
    width: 55px;
    height: 55px;
    padding-top: -1px;
    font-size: 20px;
    border: none;
    background: white;
    font-family: sans-serif;
    font-weight: 300;
    border:0px;
    border-radius: 30px;
    margin: 1.5px;
    transition:0.25px;
    
    
}

.button:hover{
    background: #eaedef;
}

h1{
    margin-top: 300px;
    margin-left: 100px;
    font-family: sans-serif;

    font-size:50;
   
    text-decoration: underline;

color: white;
text-transform: uppercase;
font-weight: 700;}

h2{

    color: white;
    margin-top: -1px;
    font-family: sans-serif;
    margin-left: 438px;
}
.operator{
    width: 55px;
    height: 55px;
    padding-top: -1px;
    font-size: 20px;
    text-align: center;
    color: black;
    border: none;
    background: white;
    font-family: sans-serif;
    font-weight: 500;
    border:0;
    border-radius: 30px;
    margin: 1.5px;
    transition:0.25px;
    cursor:pointer;
    
    
    
}

.foot {
    color:white;
    padding:10px;
}
.foot>a{
    color:white;
}


.operator:hover{
    background: #eaedef;
}