/* Default theme colors (light theme) */
html[data-bs-theme="light"] {
  --background-color: #f5f5f5;
  --text-color: #333;
}

/* Dark theme */
html[data-bs-theme="dark"] {
  --background-color: #fff;
  --text-color: #333;
}

#letter-buttons {
  /* center */
  width: 100%;
  padding: 50px;
  /* if they go beyond the screen, wrap them */
  flex-wrap: wrap;
}

#pagination-container {
  /* center */
  width: 100%;
  margin: 50px;
}

/* center the container */
#game-container {
  width: 100%;
  margin: 0 auto;

  /* center the game */
  display: flex;
  justify-content: center;
  align-items: center;

  /* make the game responsive */
  @media (max-width: 768px) {
    flex-direction: column;
  }
}

.text-center {
  text-align: center;
  align-items: center;
}

.list-group-item {
  cursor: pointer;
  padding: 10px;
  /* transition: background-color 0.3s ease; */
}

.list-group-item:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}
